src/conf/xml-resources/web-services/PostHighscore/wsdl/playground.big.tuwien.ac.at_8080/highscore/PublishHighScoreService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:data="http://big.tuwien.ac.at/we/highscore/data" xmlns:ssd="http://dbai.tuwien.ac.at/ssd" targetNamespace="http://big.tuwien.ac.at/we/highscore/data">
	<xs:import namespace="http://dbai.tuwien.ac.at/ssd" schemaLocation="http://playground.big.tuwien.ac.at:8080/highscore/PublishHighScoreService?xsd=1" />
	<!-- Element declarations -->
	<xs:element name="HighScoreRequest" type="data:HighScoreRequestType" />
	<xs:element name="HighScoreResponse" type="xs:string" />
	<xs:element name="UserKey" type="xs:string" />
	<!-- Complex Types -->
	<xs:complexType name="HighScoreRequestType">
		<xs:sequence>
			<xs:element ref="data:UserKey" minOccurs="1" maxOccurs="1" />
			<xs:element ref="ssd:game" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>